<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Scouting Home</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
        <link rel="stylesheet" href="static/scout1.css">
        <link rel="icon" type="image/x-icon" href="static/scoutIcon.png">
    </head>
    <body>
        <h2>Scouting Homepage</h2>
        <a href="/matches">Match interface</a><br>
        <a href="/matchesH">Human interface</a><br>
        <a href="/getScenario">Ranking interface</a><br>
        <a href="/matchData">Match Data (ORSAL)</a><br>
        <a href="/liveUpdate">Live Data Feed (ORWIL)</a><br>
        <a href="/liveHumanUpdate">Live Human Player Data Feed (ORWIL)</a>
        <!--<img src="static/scoutIcon.png">-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>