<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>OSF FRC Scout Results</title>
        <link rel="stylesheet" href="static/scout1.css">
        <link rel="icon" type="image/x-icon" href="static/scoutIcon.png">
    </head>
    <body>
        <h1>Match Results by team for OSF FRC District Event</h1>
        <p id="googleSheet" class="googleSheet"><iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTjFLiPDWjBdwRGR0onW1cwVd0SKxXd6sSnsfi4HqmppSPnos7IH3EPaalKytDGIYPb2RGa_rOfn0IR/pubhtml"></iframe></p>
    </body>
</html>