<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
        <title>Home</title>
        <link rel="stylesheet" href="static/scout1.css">
        <link rel="icon" type="image/x-icon" href="static/scoutIcon.png">
    </head>
    <body>
        <a href="/">Return to scouting home</a>
        <form action="/ranking" method = "POST">
            <select id="scenarios" name="scenarios" required>
                <option value="null"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <label for="scenarios">Scenario Chooser</label>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>