<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Scout Ranking
        </title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Hello World!</h1>
        <table>
            <thead>Ranking for scenario {{ scenario }}</thead>
            <tr>
                <td>Ranking</td>
                <td>Team</td>
                <td>Points</td>
            </tr>
            <tr>
                <td>1</td>
                <td>{{ team1 }}</td>
                <td>{{ points1 }}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{ team2 }}</td>
                <td>{{ points2 }}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>{{ team3 }}</td>
                <td>{{ points3 }}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>{{ team4 }}</td>
                <td>{{ points4 }}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>{{ team5 }}</td>
                <td>{{ points5 }}</td>
            </tr>
            <tr>
                <td>6</td>
                <td>{{ team6 }}</td>
                <td>{{ points6 }}</td>
            </tr>
            <tr>
                <td>7</td>
                <td>{{ team7 }}</td>
                <td>{{ points7 }}</td>
            </tr>
            <tr>
                <td>8</td>
                <td>{{ team8 }}</td>
                <td>{{ points8 }}</td>
            </tr>
            <tr>
                <td>9</td>
                <td>{{ team9 }}</td>
                <td>{{ points9 }}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>{{ team10 }}</td>
                <td>{{ points10 }}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>{{ team11 }}</td>
                <td>{{ points11 }}</td>
            </tr>
            <tr>
                <td>12</td>
                <td>{{ team12 }}</td>
                <td>{{ points12 }}</td>
            </tr>
            <tr>
                <td>13</td>
                <td>{{ team13 }}</td>
                <td>{{ points13 }}</td>
            </tr>
            <tr>
                <td>14</td>
                <td>{{ team14 }}</td>
                <td>{{ points14 }}</td>
            </tr>
            <tr>
                <td>15</td>
                <td>{{ team15 }}</td>
                <td>{{ points15 }}</td>
            </tr>
            <tr>
                <td>16</td>
                <td>{{ team16 }}</td>
                <td>{{ points16 }}</td>
            </tr>
            <tr>
                <td>17</td>
                <td>{{ team17 }}</td>
                <td>{{ points17 }}</td>
            </tr>
            <tr>
                <td>18</td>
                <td>{{ team18 }}</td>
                <td>{{ points18 }}</td>
            </tr>
            <tr>
                <td>19</td>
                <td>{{ team19 }}</td>
                <td>{{ points19 }}</td>
            </tr>
            <tr>
                <td>20</td>
                <td>{{ team20 }}</td>
                <td>{{ points20 }}</td>
            </tr>
            <tr>
                <td>21</td>
                <td>{{ team21 }}</td>
                <td>{{ points21 }}</td>
            </tr>
            <tr>
                <td>22</td>
                <td>{{ team22 }}</td>
                <td>{{ points22 }}</td>
            </tr>
            <tr>
                <td>23</td>
                <td>{{ team23 }}</td>
                <td>{{ points23 }}</td>
            </tr>
            <tr>
                <td>24</td>
                <td>{{ team24 }}</td>
                <td>{{ points24 }}</td>
            </tr>
            <tr>
                <td>25</td>
                <td>{{ team25 }}</td>
                <td>{{ points25 }}</td>
            </tr>     
        </table>
    </body>
</html>